.App {
  text-align: center;
  display: block;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navigation {
  padding: 35px 0 0;
  background-color: transparent;
}

#main-menu ul li {
  display: inline-block;
  margin-left: 25px;
  position: relative;
}

.site-logo img {
  width: 50px;
}

.accordian {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  text-align: left;
  margin: 10px 5px;
  padding: 15px 20px 15px 20px;
  background-color: #eee;
}

.accordian_title {

}

.accordian_body{
  display: none;
  padding-top: 15px;
}

.accordian_body.open {
  display: block;
}

.accordian_toggle {
  float: right;
}